.inventoryobject{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap:10px;
    justify-content: flex-start;
}

.img{
    width: 30%;
    height: 40%;
}
